fastapi
uvicorn
aiohttp
aiofiles
pydantic
sqlalchemy
websockets
loguru
psutil
yt-dlp
httpx
apscheduler
orjson
tenacity
fake-useragent
python-dotenv
beautifulsoup4
lxml
requests
browser-cookie3
tldextract